html {
    background-color:
}

body {
    margin-bottom: 100px;
}

b {
    font-weight: 400;
}

a {
    color: #faa52f;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

.pub_link {
    font-size: 18px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding-right: 12px;
}

.about {
}

.home_menu {
    margin-right: 50px;
    border-radius: 5px;
}

.home_title {
    text-align: left;
    font-size: 40px;
    margin: 80px 0 30px 0;
    color: #000000db;
    font-weight: 600;
}

.home_image {
}

.title {
    text-align: center;
    font-size: 60px;
    margin: 0;
    color: #222;
}

.header {
    text-align: left;
    font-size: 30px;
    color: #222;
}

.title_menu {
    background-size: 100%;
    margin: 0px 0px 0px 0px;
    padding: 80px 0 70px 0;
}

.title_font {
    font-family: "Inconsolata", "Barlow", "Source Sans Pro", sans-serif;
    /*font-family: "Roboto Mono", serif;*/
}

.sans_font {
    font-family: "Inconsolata", "Barlow", "Source Sans Pro", sans-serif;
    font-weight: 300;
}

.subtitle {
    text-align: center;
    font-size: 22px;
    margin: 0;
    color: #444;
    line-height: 160%;
}

.home_body {
    font-size: 20px;
    margin: 0 0 30px 0;
    line-height: 148%;
    font-weight: 300;
}

.responsive-img {
  max-width: 100%; /* Ensures the image doesn't exceed its container's width */
  height: auto;    /* Maintains the image's aspect ratio automatically */
  display: block;  /* Helps center if needed and avoids extra space issues */
  margin: 0 auto;  /* Optional: centers the image within its container */
}

.link {
    padding: 10px 14px 10px 14px;
    text-decoration: none;
    color: black;
    background-color: #eee;
    transition: 0.2s;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.07);
}

.link:hover {
    background-color: #ccc;
}

hr {
    width: 50%;
    height: 1px;
    border-color: #eee;
    margin-bottom: 35px;
    margin-top: 35px;
}

div.panel {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 100000px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

@media (max-device-width: 768px) {
    body {
        margin-right: 10px;
        margin-left: 20px;
    }
}





