.container {
    max-width: 700px;
    margin: 0 auto;
    padding-right: 12px;
}

.title {
    text-align: left;
    font-size: 40px;
    margin: 80px 0 30px 0;
    color: #000000db;
    font-weight: 600;
    margin-bottom: 5px;
}

.title_font {
    font-family: "Inconsolata", "Work Sans", "Barlow", "Source Sans Pro", sans-serif;
}

.sans_font {
    font-family: "Inconsolata", "Work Sans", "Barlow", "Source Sans Pro", sans-serif;
    font-weight: 300;
}

.body {
    font-size: 20px;
    margin: 0 0 30px 0;
    line-height: 148%;
    font-weight: 300;
}

.responsive-img {
  max-width: 100%;
  height: auto; 
  display: block; 
  margin: 0 auto;  
}

html {
    background-color:
}

body {
    margin-bottom: 100px;
}

b {
    font-weight: 400;
}

a {
    color: #5a2a60;
    text-decoration: none;
    outline: 0;
    font-weight: 400;
}










