.container {
    max-width: 700px;
    margin: 0 auto;
    padding-right: 12px;
}

.home_title {
    text-align: left;
    font-size: 40px;
    margin: 80px 0 30px 0;
    color: #000000db;
    font-weight: 600;
    margin-bottom: 5px;
}

.home_image {
}

.title {
    text-align: center;
    font-size: 60px;
    margin: 0;
    color: #222;
    margin-bottom: 5px;
}

.header {
    text-align: left;
    font-size: 30px;
    color: #222;
}

.title_font {
    font-family: "Work Sans", "Inconsolata", "Barlow", "Source Sans Pro", sans-serif;
    /*font-family: "Roboto Mono", serif;*/
}

.sans_font {
    font-family: "Work Sans", "Inconsolata", "Barlow", "Source Sans Pro", sans-serif;
    font-weight: 300;
}

.home_body {
    font-size: 20px;
    margin: 0 0 30px 0;
    line-height: 148%;
    font-weight: 300;
}

.responsive-img {
  max-width: 100%;
  height: auto; 
  display: block; 
  margin: 0 auto;  
}

html {
    background-color:
}

body {
    margin-bottom: 100px;
}

b {
    font-weight: 400;
}

a {
    color: #faa52f;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
}





